h1 {
    color: rgb(68, 27, 27);
    font-family: serif, 'Times New Roman';
    
}

button {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(235, 193, 54);


}

* {
    background-color: antiquewhite;
}

body, 
p, 
h3 
:not(h1) 
:not(button) {
    color: olive;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif
}

